Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aspernatur, expedita atque maiores culpa ipsum placeat ullam maxime ducimus. 
Veritatis laudantium quidem, aperiam saepe recusandae nam, perspiciatis nisi eveniet vitae inventore quibusdam corporis delectus laborum excepturi nesciunt. 
Sapiente, labore, perspiciatis deserunt aliquid doloremque odio veritatis beatae praesentium optio dolorum odit! Autem architecto doloremque amet quam et voluptate odio deleniti dignissimos tenetur, non accusamus dolor itaque mollitia unde consectetur alias reiciendis veritatis corporis quis, possimus porro omnis. Labore quidem rem at.
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aspernatur, expedita atque maiores culpa ipsum placeat ullam maxime ducimus. Veritatis laudantium quidem, aperiam saepe recusandae nam, perspiciatis nisi eveniet vitae inventore quibusdam corporis delectus laborum excepturi nesciunt. </p><p>Sapiente, labore, perspiciatis deserunt aliquid doloremque odio veritatis beatae praesentium optio dolorum odit! Autem architecto doloremque amet quam et voluptate odio deleniti dignissimos tenetur, non accusamus dolor itaque mollitia unde consectetur alias reiciendis veritatis corporis quis, possimus porro omnis. Labore quidem rem at.</p>

Event::create([
    'title' => 'Judul Keempat',
    'excerpt' => 'Lorem ipsum dolor sit amet consectetur',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aspernatur, expedita atque maiores culpa ipsum placeat ullam maxime ducimus. Veritatis laudantium quidem, aperiam saepe recusandae nam, perspiciatis nisi eveniet vitae inventore quibusdam corporis delectus laborum excepturi nesciunt. </p><p>Sapiente, labore, perspiciatis deserunt aliquid doloremque odio veritatis beatae praesentium optio dolorum odit! Autem architecto doloremque amet quam et voluptate odio deleniti dignissimos tenetur, non accusamus dolor itaque mollitia unde consectetur alias reiciendis veritatis corporis quis, possimus porro omnis. Labore quidem rem at.</p>'
])

$event->create([
    'title' => 'Judul Kedua',
    'category_id' => 2,
    'slug' => 'judul-kedua',
    'excerpt' => 'Lorem ipsum dolor sit amet consectetur',
    'body' => '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur aspernatur, expedita atque maiores culpa ipsum placeat ullam maxime ducimus. Veritatis laudantium quidem, aperiam saepe recusandae nam, perspiciatis nisi eveniet vitae inventore quibusdam corporis delectus laborum excepturi nesciunt. </p><p>Sapiente, labore, perspiciatis deserunt aliquid doloremque odio veritatis beatae praesentium optio dolorum odit! Autem architecto doloremque amet quam et voluptate odio deleniti dignissimos tenetur, non accusamus dolor itaque mollitia unde consectetur alias reiciendis veritatis corporis quis, possimus porro omnis. Labore quidem rem at.</p>'
])

$category->create([
    'name' => 'Comic Con',
    'slug' => 'comic-con'
])